body {
  background-color: blanchedalmond;
  font-family: 'Courier New';
  font-size: 1.5em;
  margin: 2em;
  text-align: center;
}

.homepage{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

#homepage-image {
  width: 30%;
}

.toggle-login:hover {
  color:grey;
}

.show-page-picture {
 text-align: center;
  padding: .4em;
  width: 60%;
}

.heading {
  text-align: center;
  margin-top: 2em;
}
.text {
  margin-left: 10em;
  margin-right: 10em;
  text-align: left
}

#comment-box {
  width: 45em;
  height: 5em;
  word-wrap: break-word;
}

#log-plant-form {
  text-align: center;
}

#login {
  text-align: center;
}

#signup {
  text-align: center;
}

#plant-selection-heading{
  background-color: orange;
  margin-top: 2em;
}

.allPlantList {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.plant-image {
  width: 55%;
  margin-left: 12em;
}

.plant-tile{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.add-to-garden-button {
  background-color: yellow;
  width: 25%;
  height: 25%;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: .75em;
  margin-left: 16em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.delete-from-plant-selection-button {
  background-color: orange;
  width: 25%;
  height: 25%;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: .75em;
  margin-left: 16em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.your-garden {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.main-div {
  display: flex;
}

#update-plant-form {
  text-align: center;
}

#featured-plant {
  background-color: orange;
}

#editing-plant-form-heading {
  background-color: yellow;
}

#log-new-plant-form-heading {
  background-color: yellow;
}

.submit-button {
  background-color: orange;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: .75em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 8em;
  text-align: center;
}

.form-input-field{
  margin-right: 1em;
}

.remove-from-garden-button {
  background-color: yellow;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: .75em;
  width: 15em;
  margin-top: 2em;
  margin-left: 30em;
}

.login-and-sign-up-submit{
  margin-left: 11em;
  width: 11.5em;
}

