body {
  background-color: blanchedalmond;
  font-family: 'Courier New';
  margin: 2em;
  text-align: center;
  
}

.homepage{
 
  text-align: center;
}

#homepage-image {
 margin: 1em;
  width: 50%;
}

.toggle-login:hover {

  color:grey;
}



.App {
  text-align: center;
}

.plant-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:.4em;
  width: 50%;
}

.show-page-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4em;
  width: 60%;
}

.heading {
  text-align: center;
}
.text {
  text-align: center;
}

#comment-box {
  width: 45em;
  height: 5em;
  word-wrap: break-word;
}

#log-plant-form {
  text-align: center;
}

#login {
  text-align: center;
}

#signup {
  text-align: center;
}

.allPlantList {
 display: flex;
 justify-content: center;
 flex-direction: column;
 margin: 5em;
}

.your-garden {
 
  width: 50%;
}

.main-div {
  display: flex;
}

#update-plant-form {
  text-align: center;
}

#featured-plant {
  background-color: orange;
}

#editing-plant-form-heading {
  background-color: yellow;
}

#log-new-plant-form-heading {
  background-color: yellow;
}

.change-to-cats-button {
  background-color: yellow;
  width: 8%;
  height: 20%;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: .75em; 
}

#add-to-garden-button {
  background-color: yellow;
  width: 25%;
  height: 25%;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: .75em;
}

#delete-from-plant-selection-button {
  background-color: orange;
  width: 25%;
  height: 25%;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: .75em;
}

.submit-button {
  background-color: orange;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: .75em;
}

#remove-from-garden-button {
  background-color: yellow;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: .75em;
}



